@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #252B42;
  --main-orange: #FF685B;
  --danger-color: #e74040;
  --second-text-color: #737373;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-mainOrange: var(--main-orange);
  --color-danger: var(--danger-color);
  --color-secondText: var(--second-text-color);
  --font-mont: var(--font-montserrat);
  --font-open_sans: var(--font-open_sans);
  --breakpoint-headerlg: 1310px;
  --breakpoint-customlg: 1060px;
  --breakpoint-custommd: 812px;
  --breakpoint-customsm: 512px;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.wrapper {
  max-width: 1046px;
  margin: 0 auto;
  width: 100%;
}

h1 {
  color: var(--foreground);
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  font-weight: 700;
}
h5 {
  color: var(--foreground);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

@media (max-width: 1060px) {
  .wrapper {
    padding: 0px 20px;
  }
}
@media (max-width: 1060px) {
  .wrapper {
    padding: 0px 10px;
  }
}
@media (max-width: 812px) {
  h1 {
    font-size: 46px;
    line-height: 60px;
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: 36px;
    line-height: 50px;
  }
}
@media (max-width: 512px) {
  h1 {
    font-size: 28px;
    line-height: 39px;
  }
}